<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kanji Dictionary</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/ui.css">
    <link rel="stylesheet" href="style.scss">
</head>
<body>
<div id="app">
    <div v-if="transformedKanjiList.length" class="kanji-block">
        <div class="total">{{ currentKanjiId + 1 }} / {{ transformedKanjiList.length }}</div>
        <div class="kanji-symbol">{{ transformedKanjiList[currentKanjiId].kanji }}</div>

        <table-info :kanji="transformedKanjiList[currentKanjiId]" :convert-to-english="convertToEnglish"></table-info>
    </div>
    <div class="button-group-separated" style="padding: 5px;">
        <button @click="prevKanji" :class="currentKanjiId <= 0 ?'disabled' :''">Prev</button>
        <button @click="nextKanji" :class="currentKanjiId >= transformedKanjiList.length - 1 ?'disabled' :''">Next</button>
    </div>
</div>
<script>
    (async () => {
        await VDE.initWithVue({
            tabs: ['Kanji', 'Options'],
            components: ['table.info'],
            windowSize: [340, 420],
            async start(args) {
                console.log(args);

                // Load kanji list
                let kanjiList = await VDE.getInternalFile("kanji.json", "json");
                this.hirogana = await VDE.getInternalFile("hirogana.json", "json");
                this.katakana = await VDE.getInternalFile("katakana.json", "json");

                // Transform object to list
                for (let kanji in kanjiList) {
                    if (kanjiList.hasOwnProperty(kanji)) {
                        this.originalKanjiList.push({
                            kanji,
                            ...kanjiList[kanji]
                        });
                    }
                }

                this.transformKanji();
            },
            event: {
                async tabClicked(tab) {
                    if (tab === 'Options') await VDE.apiQuery('showOptions');
                    else await VDE.apiQuery('hideOptions');
                },
                optionsChanged() {
                    this.currentKanjiId = 0;
                    this.transformKanji();
                }
            },
            method: {
                convertToEnglish(word) {
                    let out = '';
                    for (let i = 0; i < word.length; i++) {
                        if (this.hirogana[word[i]]) out += this.hirogana[word[i]];
                        else if (this.katakana[word[i]]) out += this.katakana[word[i]];
                        else out += word[i];
                    }
                    return out;
                },
                prevKanji() {
                    if (--this.currentKanjiId <= 0)
                        this.currentKanjiId = 0;
                },
                nextKanji() {
                    if (++this.currentKanjiId > this.transformedKanjiList.length - 1)
                        this.currentKanjiId = this.transformedKanjiList.length - 1;
                },
                transformKanji() {
                    this.transformedKanjiList = this.originalKanjiList.filter((x) => {
                        // Check grade
                        for (let i = 1; i < 7; i++)
                            if (this.options.gradeFilter * 1 === i && x.grade * 1 !== i)
                                return false;

                        // Check stroke
                        for (let i = 1; i < 10; i++)
                            if (this.options.strokeFilter * 1 === i && x.stroke * 1 !== i)
                                return false;

                        return true;
                    });

                    // Sorting
                    if (this.options.sortType !== 'none') {
                        this.transformedKanjiList = this.transformedKanjiList.sort((a, b) => {
                            return a[this.options.sortType] - b[this.options.sortType];
                        });
                    }
                }
            },
            options: {
                sortType: {
                    type: 'select',
                    options: ['none', 'stroke', 'grade'],
                    value: 'none'
                },
                gradeFilter: {
                    type: 'select',
                    options: ['none', 1, 2, 3],
                    value: 'none'
                },
                strokeFilter: {
                    type: 'select',
                    options: ['none', 1, 2, 3, 4, 5],
                    value: 'none'
                }
            },
            data: {
                currentKanjiId: 0,
                originalKanjiList: [],
                transformedKanjiList: [],
                hirogana: {},
                katakana: {}
            }
        });
    })();
</script>
</body>
</html>