html, body, #app {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  .total {
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }

  .kanji-block {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .kanji-symbol {
    display: flex;
    text-align: center;
    font-size: 100px;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .button-group-separated {
    flex: 0;
  }

  table {
    flex: 0;
  }

  table tbody tr td:first-child {
    flex: 0.45;
  }
}

body {
  display: none;
}