<template>
    <table>
        <tbody>
        <tr>
            <td>Grade</td>
            <td>{{ kanji.grade }}</td>
        </tr>
        <tr>
            <td>Stroke</td>
            <td>{{ kanji.stroke }}</td>
        </tr>
        <tr>
            <td>On</td>
            <td>{{ kanji.on }} ({{ convertToEnglish(kanji.on) }})</td>
        </tr>
        <tr>
            <td>Kun</td>
            <td v-if="kanji.kun">{{ kanji.kun }} ({{ convertToEnglish(kanji.kun) }})</td>
            <td v-if="!kanji.kun">-</td>
        </tr>
        <tr>
            <td>Translate</td>
            <td>{{ kanji.translate }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            kanji: Object,
            convertToEnglish: Function
        },
    }
</script>